:root {

  /* Colors: */
  ---ffffff: #FFFFFF;
  ---c1c3c9: #C1C3C9;
  ---e2e2e2: #E2E2E2;
  ---6e7079: #6E7079;
  ---363636: #363636;
  ---f2f2f2: #F2F2F2;
  ---3c3e48: #3C3E48;
  ---a51c20: #A51C20;
  ---ff0000: #FF0000;
  ---181f29: #181F29;

  /* Font/text values */
  --font-family-noto-sans: Noto Sans;
  --font-style-normal: normal;
  --font-weight-300: 300;
  --font-weight-900: 900;
  --font-weight-normal: normal;
  --font-size-16: 16px;
  --font-size-22: 22px;
  --font-size-25: 25px;
  --font-size-30: 30px;
  --font-size-32: 32px;
  --font-size-45: 45px;
  --character-spacing-0: 0;
  --line-spacing-36: 36px;
  --line-spacing-43: 43px;
  --line-spacing-45: 45px;
  --line-spacing-64: 64px;
}
